<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOGAR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-wrapper">
        <a href="/blogar" class="navbar-brand">Blogar</a>
        <ul id="nav-mobile" class="nav nav-item mr-auto my-2 my-lg-0">
            <li><a href="/create" class="nav-link">Add Post</a></li>
        </ul>
        <a href="/blogar/logout" class="nav-link btn btn-danger">LogOut</a>
    </div>
</nav>

<div class="container">
    <h1>Welcome to <strong>BLOGAR</strong></h1>
    {{ range . }}
    <a href="/{{.Id}}">
        <div class="card">
            <h3 class="card-title">{{ .Title }}</h3>
        </div>
    </a>
    <br>
    {{ end }}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>