<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOGAR</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="navbar navbar-inverse navbar-static-top navbar-dark bg-dark" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Blogar</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Welcome to <strong>BLOGAR</strong></h1>
    <a href="/signup" class="btn btn-info">SIGN UP</a>
    <p>To Become A Blogar</p>

    <br>

    <p>Already a Blogar?</p>
    <a href="/login" class="btn btn-success">LOGIN</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>